---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import Therapy from '../components/Therapy.svelte';
import Pubblications from '../components/Pubblications.svelte';
import Who from '../components/Who.svelte';
import Footer from '../components/Footer.astro';
---
<Layout title="Paolo Sernini - facilitatore terapeutico">
	<Navbar/>
	<main class="scrollable">
		<Home/>
		<Therapy/>
		<Who/>
		<Pubblications/>
		<Footer/>
	</main>
</Layout>
