---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Hello world">
	  
	<main class="scrollable">
		<div class="bg-red-500 text-white scrollable-element">
		  <!-- Your content here -->
		</div>
		<div class="bg-green-500 text-white scrollable-element">
		  <!-- Your content here -->
		</div>
		<div class="bg-blue-500 text-white scrollable-element">
		  <!-- Your content here -->
		</div>
	</main>

</Layout>
