---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Therapy from '../components/Therapy.svelte';
import Pubblications from '../components/Pubblications.svelte';
---
<Layout title="Paolo Sernini: facilitatore terapeutico">

	<main class="scrollable">
		<Home/>
		<Therapy/>
		<Pubblications/>
	</main>

</Layout>
