---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Hello world">
	  
	  <main class="h-full snap-both snap-proximity">
		<div class="h-screen bg-red-500 text-white snap-center">
		  <!-- Your content here -->
		</div>
		<div class="h-screen bg-green-500 text-white snap-center">
		  <!-- Your content here -->
		</div>
		<div class="h-screen bg-blue-500 text-white snap-center">
		  <!-- Your content here -->
		</div>
	  </main>

</Layout>
