---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Paolo Sernini - facilitatore terapeutico">
	<Navbar/>
	
    <main class="min-h-[100vh] pt-16" id="scrittura">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, molestiae quidem voluptatem assumenda provident rerum voluptatum vero facere consequatur. Sunt voluptatibus optio nesciunt incidunt! Ut fuga tempore blanditiis veniam libero!
        Nesciunt repellendus quibusdam totam quis sapiente labore, veritatis nobis esse! Sint assumenda non sapiente soluta enim, deleniti voluptatem reiciendis magni eius culpa magnam, facilis dolores placeat hic inventore alias earum?
        Numquam similique reprehenderit officia voluptatibus error quos exercitationem aspernatur, alias voluptatum facilis saepe eius repellat odit iusto labore veniam laudantium omnis obcaecati ducimus. Molestias repellat aut quis, tempora debitis similique.
        Blanditiis numquam officiis ipsa quo consectetur, corporis soluta magni maxime aliquam porro ut expedita ipsam excepturi, neque labore dolores et laboriosam praesentium possimus architecto beatae? Illum quos magnam laborum non!
        Quam amet vero quae eaque modi quo distinctio, quis impedit ipsam sapiente, tenetur ullam? Tenetur error, distinctio eligendi expedita voluptates tempora, aliquid nesciunt nemo accusamus debitis quibusdam id? Non, delectus.
        Esse fugiat deleniti repellendus eos! Accusamus quidem sunt quasi, libero quod dolorum suscipit, nisi provident explicabo magnam ducimus similique tenetur non quisquam aspernatur ipsa reprehenderit unde aut? Nostrum, ipsum et.
        Maiores dolore et reiciendis asperiores! Modi ratione eveniet perferendis ipsum iusto fuga assumenda! Aspernatur dolor dolore cupiditate molestias adipisci facilis modi deserunt! Tempora corrupti officiis ducimus necessitatibus! Enim, aut totam?
        Sunt, neque quia. Sint harum neque corporis adipisci illum error dolor mollitia repellat iusto fuga aliquam tenetur possimus quidem dignissimos esse iure quis exercitationem, eaque facere eos molestias et quam?
        Maxime accusantium dolorem omnis explicabo tenetur aperiam ullam, officiis deserunt dicta eaque quam, consequatur unde doloribus illum quibusdam vero quis rem sit. A deserunt perferendis veritatis enim incidunt provident possimus!
        Veritatis, officia? Dolorem libero, corrupti temporibus qui architecto praesentium, non dicta blanditiis quas saepe officiis ipsa consequatur voluptate porro voluptas odio eos veritatis repudiandae itaque similique sit, inventore sint accusantium.
        Dicta assumenda veritatis vero est rem labore quas? Quos veniam vero officiis autem illum optio, error repudiandae, maiores expedita earum magnam quisquam minus repellendus assumenda repellat explicabo esse exercitationem. Labore.
        Consectetur at mollitia asperiores magni aut molestias ipsum assumenda. Blanditiis voluptates eos molestiae. Temporibus aut ipsam nemo doloremque laboriosam dolor ea odio. Suscipit necessitatibus quo enim cum tempora labore eos.
        Quo doloremque assumenda repellendus consequuntur officia soluta quasi nesciunt veniam consectetur. Delectus facilis eaque expedita dolor suscipit. Dolorum temporibus, officia laborum eos, placeat velit numquam unde est corporis sunt ipsam!
        Obcaecati veniam aspernatur fugit officia vitae numquam natus minus sit molestiae. Nesciunt necessitatibus corporis autem beatae repudiandae ab, deserunt corrupti sapiente magni, eum quis. Fugiat ipsum dignissimos est non dolor.
        Quod, earum eum dolorum tempora vitae porro aliquam incidunt a nemo unde molestias quo deleniti neque eligendi numquam aliquid consequatur ex voluptate quam. Nisi nam nemo beatae rerum, sit nostrum.
        Enim, explicabo! Natus harum tempora voluptate officia asperiores quos explicabo suscipit itaque iste fuga alias, quam aut minus veritatis cum. Eos sapiente, cupiditate itaque perspiciatis tempore voluptatibus ab tempora nostrum.
        Ipsa quis beatae alias, voluptate molestias repudiandae! Eligendi a temporibus cupiditate quaerat adipisci impedit? Quidem ex quisquam officia eaque expedita quos harum sapiente, soluta atque illum libero, molestiae est nam.
        Maxime tempore excepturi non consectetur provident quia nostrum eligendi praesentium ipsum, cupiditate aliquid veniam neque. Accusantium amet harum nisi veritatis velit, ex obcaecati. Facilis amet explicabo totam neque mollitia ex?
        Commodi animi dicta ab possimus qui id repellendus harum voluptates voluptatum mollitia ipsam eaque pariatur quas, aperiam labore, in, eos porro quos. Commodi facere iure enim vel animi atque deserunt.
        Architecto impedit illo eaque rem ullam. Corporis dignissimos vitae, exercitationem porro velit, ex perspiciatis alias accusantium, voluptate quasi nulla laboriosam nesciunt delectus nihil numquam minima at aliquid molestias quia necessitatibus!
        Vel tenetur necessitatibus magnam deserunt a totam eveniet blanditiis recusandae? Ducimus eius accusantium laboriosam nihil provident officia cupiditate omnis, aperiam perspiciatis iure quae amet dignissimos, recusandae sequi error quas cumque!
        Praesentium alias est ipsam laborum ad aperiam delectus itaque cumque minima, pariatur eveniet placeat obcaecati illo iste dolorum quod voluptatum magnam sunt totam aliquid, quidem nesciunt voluptatibus? Nesciunt, tempore quos!
        Totam quo ex impedit beatae illum reiciendis explicabo provident ipsa incidunt accusantium doloremque quisquam, harum necessitatibus ipsum sint fugit repellendus in consequatur vero cupiditate sunt animi unde mollitia natus? Nostrum?
        Assumenda amet culpa consequuntur error repellendus eius ea excepturi rem optio deleniti aliquid nostrum quam molestiae cupiditate adipisci modi tenetur, cumque asperiores non. Hic temporibus ullam asperiores perspiciatis, consequatur ducimus.
        Ipsam commodi temporibus consequuntur architecto sint quae tempore nam nulla, amet, assumenda repellendus odit obcaecati eius soluta similique, explicabo sequi alias. Facilis, dignissimos. Quam, non in? Exercitationem hic itaque ea.
        Corporis quam ab nobis aspernatur ducimus ut illum quasi deserunt nostrum porro quas vel cum in quae, facilis minus, placeat pariatur! Quae doloremque sed, dolore distinctio ducimus quisquam blanditiis a?
        Dolorum culpa in alias ratione, dicta porro quasi debitis minus id non? Quaerat, eaque earum nisi veritatis aspernatur, minima facilis laborum ea repellat laudantium quos minus culpa sequi nihil aliquam.
        Obcaecati tempora placeat architecto modi provident, consequuntur quos libero voluptatibus sapiente sequi, suscipit dolore aspernatur eveniet commodi eligendi. Non veniam nisi animi est sunt repellendus. Ad voluptatibus officiis enim qui.
        Ullam laudantium harum, ipsum magnam molestias debitis asperiores tempora recusandae? Perspiciatis quia dolore expedita ipsam alias sit est laudantium, quod, velit hic quibusdam ad assumenda? Odit quas ex odio laborum?
        Eos earum nostrum temporibus sequi rerum porro fugiat molestiae ut cumque neque quaerat vel ex itaque, rem mollitia reprehenderit laborum veniam quas, a deleniti! Sed mollitia nobis repudiandae maiores tempore.
        Officiis rem ipsum beatae mollitia laudantium maiores corporis incidunt laborum velit tempore assumenda, earum recusandae, ea quam vel placeat quasi impedit ullam? Aspernatur minima reiciendis expedita, cumque atque ad necessitatibus.
        Et cumque voluptates recusandae. Deleniti nam nemo ipsam consectetur alias blanditiis atque, ducimus consequuntur fugit facilis quasi laudantium ullam eos quis necessitatibus omnis tempore eveniet molestiae sapiente, a quas voluptatem!
        Quidem pariatur iste quaerat, eaque rerum possimus voluptatum debitis iure corrupti. Porro rerum sint corrupti rem reiciendis tempore ab. Quasi optio eaque esse voluptatum asperiores perspiciatis illo suscipit sit ea?
        Doloribus praesentium quas repellendus velit, voluptatem consectetur nihil neque dolor veritatis, totam ipsa ratione. Dicta delectus expedita veritatis. Harum cum error, cupiditate tempore provident consequatur dolores alias rem dignissimos vel?
        Hic perspiciatis voluptatum enim rerum obcaecati libero aliquid dicta voluptatibus veniam, dolorum ex reprehenderit voluptatem quaerat sint cumque excepturi similique nulla vitae eligendi. Nemo eveniet autem nam velit magnam culpa!
        Porro pariatur delectus tempora alias corporis blanditiis neque aspernatur. Inventore velit ullam ipsum, corporis pariatur impedit dolorum odio debitis. Ea aliquid necessitatibus, recusandae molestiae voluptatum porro veritatis repudiandae? Molestiae, delectus.
        At atque in quibusdam, numquam, nisi facilis distinctio asperiores obcaecati officia dolorem explicabo odio! Voluptatibus quaerat, omnis suscipit ullam inventore, nam non culpa sequi placeat molestiae quam fugiat hic laboriosam?
        Id voluptate ut optio sed quas. Inventore officia vel minima est eum vitae qui sunt. Culpa asperiores, expedita, commodi cumque dolor incidunt cupiditate voluptatibus assumenda nostrum iusto, numquam eligendi perferendis.
        Ab, laudantium totam! Earum ea voluptatum fugit, nisi soluta porro nesciunt veritatis quia alias architecto error consequatur maxime? Fugit quia animi quaerat fugiat aliquid, sapiente at maiores non placeat. Sunt?
        Dolor debitis assumenda accusantium ad incidunt. Sequi aperiam alias officiis earum dolore nobis aliquid fugiat, minima, consectetur perferendis ducimus, totam ipsam dolor. Exercitationem perferendis nihil ducimus iusto praesentium quia cupiditate!
        Distinctio laborum harum aliquam vitae veritatis fugit dolores eos et, voluptatum consequuntur molestias consectetur quas facilis eligendi aperiam repellat tempore hic atque ducimus voluptatibus earum recusandae vel nostrum! Tempora, illo?
        Praesentium, saepe consequatur necessitatibus repellendus quisquam enim temporibus ut consequuntur ullam hic facere quis impedit expedita minima voluptatem veritatis iure debitis nulla molestias iusto, ad omnis eaque vero accusamus. Sapiente?
        Consequuntur labore beatae aliquam eum quisquam laborum fugiat porro autem, voluptate aut eos veniam dolorum libero repellendus incidunt animi odio excepturi repellat sunt rerum numquam? In, excepturi! Praesentium, modi nesciunt!
        Accusantium nobis blanditiis rem culpa excepturi quasi minima vero repellendus similique, temporibus exercitationem, earum delectus. Porro iure nesciunt error quibusdam ipsam obcaecati inventore at perspiciatis asperiores eius, assumenda, dolore architecto?
        Enim officiis neque blanditiis tempore explicabo ratione asperiores, vel quam optio tempora perferendis commodi obcaecati vitae amet perspiciatis adipisci. Esse exercitationem tempora eum voluptatem nemo laboriosam optio alias sit incidunt!
        Ipsa, vel non odit asperiores animi commodi ex et quaerat! Veritatis inventore eveniet magni ratione repellat excepturi tempora nihil maxime, magnam quasi accusamus omnis molestiae iste dolorum harum ipsum distinctio?
        Ab cumque inventore culpa laudantium, reprehenderit veniam sed, cupiditate rem assumenda nihil quidem pariatur voluptate quis vel sunt vitae eius qui delectus quas? Veniam tempore quod ut pariatur asperiores dolor!
        Saepe illum, doloremque tempora soluta odit, officiis aliquid nulla ab autem eum fuga beatae, amet dolore. Aspernatur, labore? Harum veritatis tenetur voluptatem eos consectetur aliquam molestias voluptates blanditiis nam ipsum.
        Sunt, suscipit illum at necessitatibus corporis eum molestiae aliquam vitae asperiores atque rerum eaque tempora exercitationem. Repudiandae tempora, aut ipsam quae voluptatibus, totam, suscipit praesentium alias saepe ut dolore hic.
        Et ex autem, odit iusto ratione, amet, fugiat reprehenderit corporis commodi pariatur accusantium incidunt quis libero consectetur voluptatibus quaerat? Quo corrupti nemo ipsam architecto! Eligendi impedit totam cum eum cumque.    
    </main>

    <Footer/>
</Layout>
