---
    const name = 'Paolo Sernini';
    const quote = '"La risoluzione di un problema parte sempre dalla sua comprensione"';
    const description = "Un professionista che, attraverso competenze trasversali alla medicina tradizionale, si colloca nei percorsi terapeutici con il compito di delucidare e potenziare l'efficacia psicofisica del percorso stesso.";
---

<script>
    const button = document.querySelector('[data-scroll-button]');

    button?.addEventListener('click', () => {
        document.querySelector('#facilitatore')?.scrollIntoView({behavior: "smooth"});
    });
</script>

<span id="home"/>

<div class="hero bg-gradient-to-b from-primary to-cyan-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="/logo.webp" class="lg:mt-0 -mt-12 lg:max-w-sm max-w-[16rem] rounded-lg shadow-2xl" alt="logo" width="384px" height="407.15px"/>
      <div class="max-w-4xl">
        <h1 class="text-5xl font-bold">{name}</h1>
        <p class="lg:py-6 py-4 lg:text-md text-sm italic">{description}</p>
        <ul class="list-disc pl-4 lg:text-lg">
          <li>Dottore in Scienze e Tecniche Psicologiche</li>
          <li>Traditional Chinese Medicine Practitioner </li>
          <li>Qualificato in Sofrologia e Naturopatia</li>
        </ul>
        <div class="flex">
          <button data-scroll-button class="btn btn-primary btn-lg btn-wide mt-12 mx-auto hidden lg:block">Scopri</button> 
        </div>
      </div>
    </div>
</div>
