---
import { Icon } from "astro-icon";
---

<script>
    const home = document.querySelectorAll('[data-home-button]');
    const ft = document.querySelector('[data-ft-button]');
    const bio = document.querySelector('[data-bio-button]');
    const pub = document.querySelector('[data-pub-button]');
    const write = document.querySelector('[data-write-button]');
    const cont = document.querySelector('[data-cont-button]');

    home.forEach(el => el.addEventListener('click', () => smoothLink('#home', '/')));
    ft?.addEventListener('click', () => smoothLink('#facilitatore', '/'));
    bio?.addEventListener('click', () => smoothLink('#bio', '/'));
    pub?.addEventListener('click', () => smoothLink('#pubblicazioni', '/'));
    write?.addEventListener('click', () => smoothLink('', '/scrittura'));
    cont?.addEventListener('click', () => smoothLink('#contacts', '/'));

    //Scroll smoothly to an anchor if on a certain page, otherwise redirect to said page 
    function smoothLink(anchor: string, page: string) {
        const url = window.location.pathname
        if(url === page){
            document.querySelector(anchor)?.scrollIntoView({behavior: "smooth"});
        } else {
            window.location.href = page+anchor;
        }
    }
</script>

<nav class="navbar fixed top-0 bg-transparent z-10 text-neutral-content">
    <div class="flex-none">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-square btn-ghost">
                <Icon name="mdi:menu" class="h-1/2" />
            </label>
            <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-60 mt-4">
              <li><a data-home-button onclick="document.activeElement.blur()">Home</a></li> 
              <li><a data-ft-button onclick="document.activeElement.blur()">Facilitatore Terapeutico</a></li>
              <li><a data-bio-button onclick="document.activeElement.blur()">Biografia</a></li>
              <li><a data-pub-button onclick="document.activeElement.blur()">Pubblicazioni</a></li>
              <li><a data-write-button onclick="document.activeElement.blur()">Scrittura</a></li>
              <li><a data-cont-button onclick="document.activeElement.blur()">Contatti</a></li>
            </ul>
        </div>
    </div>

    <div class="flex-1">
        <a data-home-button class="btn btn-ghost normal-case lg:text-xl text-lg">
            <span class="hidden lg:block">Paolo Sernini • Facilitatore Terapeutico</span>
            <span class="lg:hidden block">Paolo Sernini • FT</span>
        </a>
    </div>
</nav>
