---
import { Icon } from "astro-icon";
---

<script>
    const home = document.querySelectorAll('[data-home-button]');
    const ft = document.querySelector('[data-ft-button]');
    const sv = document.querySelector('[data-sv-button]');
    const ut = document.querySelector('[data-ut-button]');
    const bio = document.querySelector('[data-bio-button]');
    const pub = document.querySelector('[data-pub-button]');
    const cont = document.querySelector('[data-cont-button]');

    home.forEach(el => el.addEventListener('click', () => smoothLink('#home', '/')));
    ft?.addEventListener('click', () => smoothLink('#facilitatore', '/'));
    sv?.addEventListener('click', () => smoothLink('#servizi', '/'));
    ut?.addEventListener('click', () => smoothLink('#utilita', '/'));
    bio?.addEventListener('click', () => smoothLink('#bio', '/'));
    pub?.addEventListener('click', () => smoothLink('#pubblicazioni', '/'));
    cont?.addEventListener('click', () => smoothLink('#contacts', '/'));

    //Scroll smoothly to an anchor if on a certain page, otherwise redirect to said page 
    function smoothLink(anchor: string, page: string) {
        const url = window.location.pathname
        if(url === page){
            document.querySelector(anchor)?.scrollIntoView({behavior: "smooth"});
        } else {
            window.location.href = page+anchor;
        }
    }
</script>

<nav class="navbar fixed top-0 bg-transparent z-10 text-gray-700">
    <div class="flex-none">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-square btn-ghost">
                <Icon name="mdi:menu" class="h-1/2" />
            </label>
            <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 text-base-content rounded-box w-60">
              <li><span data-home-button onclick="document.activeElement.blur();">Home</span></li> 
              <li><span data-sv-button onclick="document.activeElement.blur();">Servizi</span></li>
              <li><span data-ft-button onclick="document.activeElement.blur();">Facilitatore Terapeutico</span></li>
              <li><span data-ut-button onclick="document.activeElement.blur();">Percorsi Terapeutici</span></li>
              <li><span data-bio-button onclick="document.activeElement.blur();">Biografia</span></li>
              <li><span data-pub-button onclick="document.activeElement.blur();">Pubblicazioni</span></li>
              <li><a href="/scrittura">Scrittura</a></li>
              <li><span data-cont-button onclick="document.activeElement.blur();">Contatti</span></li>
            </ul>
        </div>
    </div>

    <div class="flex-1">
        <span data-home-button class="btn btn-ghost normal-case lg:text-xl text-lg">
            <span class="hidden lg:block">Paolo Sernini • Facilitatore Terapeutico</span>
            <span class="lg:hidden block">Paolo Sernini • FT</span>
        </span>
    </div>
</nav>
