---
const name = 'Paolo Sernini';
const description = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil omnis fuga perspiciatis harum temporibus sed quod veritatis magni voluptas vitae, cum fugiat aliquid fugit similique illo doloribus. Necessitatibus, tempora eius. Alias minima tempore repellat, aliquam dicta expedita consequatur in optio nulla! Voluptate, debitis! Reiciendis repudiandae soluta molestias consequuntur vel odio, in modi placeat velit ad veritatis dolore odit voluptas? Repudiandae.';
---
<span id="bio"/>

<div class="hero bg-[url(/background4.jpg)] ">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content flex-col lg:flex-row">
      <img src="/detail.jpg" class="lg:mt-0 -mt-12 lg:max-w-xs max-w-[16rem] rounded-lg shadow-2xl" alt="logo"/>
      <div class="max-w-4xl">
        <h1 class="lg:text-5xl text-4xl font-bold">Chi è <span class="text-primary">{name}</span>?</h1>
        <p class="lg:py-8 py-4 lg:text-md text-md lg:w-5/6">{description}</p>
      </div>
    </div>
</div>
