---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6b6b6b">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#ffffff">

		<meta name="format-detection" content="telephone=no">
		<!-- Remove this when site should be indexed by search engines -->
		<meta name="robots" content="noindex">

		<title>{title}</title>

		<!-- Generated tags below here -->

		<!-- COMMON TAGS -->
		<meta charset="utf-8">
		<!-- Search Engine -->
		<meta name="description" content="Paolo Sernini - facilitatore terapeutico. Dottore in Scienze e Tecniche Psicologiche. Professionista in Medicina Complementare. Scrittore. Soccorritore Croce Verde.">
		<meta name="image" content="https://paolosernini.com/logo.webp">
		<!-- Schema.org for Google -->
		<meta itemprop="name" content="Paolo Sernini - facilitatore terapeutico">
		<meta itemprop="description" content="Paolo Sernini - facilitatore terapeutico. Dottore in Scienze e Tecniche Psicologiche. Professionista in Medicina Complementare.">
		<meta itemprop="image" content="https://paolosernini.com/logo.webp">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Paolo Sernini - facilitatore terapeutico">
		<meta name="twitter:description" content="Paolo Sernini - facilitatore terapeutico. Dottore in Scienze e Tecniche Psicologiche. Professionista in Medicina Complementare.">
		<meta name="twitter:site" content="@PaoloSerniniFT">
		<meta name="twitter:creator" content="@PaoloSerniniFT">
		<meta name="twitter:image:src" content="https://paolosernini.com/logo.webp">
		<!-- Open Graph general (Facebook, Pinterest & Google+) -->
		<meta name="og:title" content="Paolo Sernini - facilitatore terapeutico">
		<meta name="og:description" content="Paolo Sernini - facilitatore terapeutico. Dottore in Scienze e Tecniche Psicologiche. Professionista in Medicina Complementare.">
		<meta name="og:image" content="https://paolosernini.com/logo.webp">
		<meta name="og:url" content="https://paolosernini.com">
		<meta name="og:site_name" content="Paolo Sernini - facilitatore terapeutico">
		<meta name="og:locale" content="it_IT">
		<meta name="fb:admins" content="100090954271889">
		<!-- TODO: add facebook page -->
		<!-- <meta name="fb:app_id" content=""> -->
		<meta name="og:type" content="website">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {}
    .scrollable {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    }
    .scrollable > div {
        height: 100vh;
        scroll-snap-align: start;
    }
    .scrollable > footer {
        scroll-snap-align: end;
    }
	[astro-icon] {
        width: 4rem;
    }
</style>
