---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <Navbar />

    <main class="min-h-[100vh] my-16 mx-8">
        <h1 class="text-2xl mb-4">
            <span class="italic">{frontmatter.title}</span>
        </h1>
        <p class="text-sm mb-4">Scritto il: {new Date(frontmatter.date).toLocaleString()}</p>
        <div class="ml-1">
            <slot />
        </div>
    </main>

    <Footer />
</Layout>
